<!DOCTYPE html>

<html lang="en">
  <!--Link to stylesheet and Google Fonts:-->
  <head>
    <meta charset="UTF-8" />
    <title>Image Color Analyzer 🪄</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coda&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@300;400;600&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <!--Create file picker and file submit button:-->
  <body>
    <div class="container mt-5">
      <h1 style="text-align: center">Image Color Analysis Tool 🪄</h1>
      <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
          <input
            style="display: block"
            type="file"
            name="image"
            class="file"
            accept=".png, .jpg, .jpeg"
          />
          <button class="button btn btn-primary" type="submit">
            Find Colors in Image
          </button>
        </form>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
